---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const collection: CollectionEntry<"blog">[] = await getCollection("blog");
---

<Layout title="Blog">
    <h1>All posts</h1>
    <ul>
        {
            collection.map((post) => (
                <li>
                    <a href={`${post.collection}/${post.id}`}>
                        {post.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>
