---
import Layout from "@/layouts/Layout.astro";
import * as hello from "@/content/blog/hello.md";
---

<Layout title="Home">
    <main>
        <div class="prose prose-pre:h-200">
            <hello.Content />
        </div>
    </main>
</Layout>
<!-- <h1 class="text-xl">Hello, World!</h1> -->
