---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
    <div class="bg-base text-text w-screen h-screen">
        <h1 class="text-4xl w-full text-center pt-4">Hello, World!</h1>
        <div class="ml-6 mr-6 justify-self-center w-fit">
            <a href="/blog" class="underline text-blue"> blog </a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusantium voluptatibus, optio eos maxime pariatur recusandae
                at odio molestias eligendi deserunt laborum soluta nam rem nulla
                quae illum. Consequuntur, corrupti sed.
            </p>
        </div>
    </div>
</Layout>
