---
import "@/styles/global.css";
import PostHog from "@/components/posthog.astro";
import Header from "@/components/header.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <PostHog />
    </head>
    <body class="w-full h-max bg-base text-text">
        <Header />
        <slot />
    </body>
</html>
