---

---

<div
    class="justify-self-center
prose prose-headings:text-text prose-p:text-text prose-a:text-blue prose-strong:text-peach prose-code:text-subtext-0
prose-figure:rounded-xl prose-figure:p-0 prose-figure:bg-mantle prose-figure:border-2 prose-figure:border-surface-1 prose-figure:overflow-hidden
prose-figcaption:text-text prose-figcaption:p-3 prose-figcaption:pl-4 prose-figcaption:m-0
prose-figcaption:border-b-2 prose-figcaption:border-surface-1
prose-pre:m-0 prose-pre:rounded-none
prose-code:max-h-150"
>
    <slot />
</div>
